.main_container {
  display: flex;
  flex-direction: row;
}

.container_phase_1 {
  display:flex;
  flex-direction:column;
}


/* This is the first section of phase 1, this is divided into the amount of cards we have on the bento grid*/
.first_section {
  background-color: rgb(252, 246, 229);
  padding: 10rem 2rem 10rem 2rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
  width: 20rem;
}

.first_section_image,
.second_section_image {
  width: 15rem;
}

.first_text,
.second_text {
  font-weight:600;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.first_section_italic {
  font-size: 3rem;
  font-style: italic;
  color: rgb(134, 15, 231);
}

/* This is the second section of phase 1, this is divided into the amount of cards we have on the bento grid*/

.second_section {
  background-color: rgb(247, 205, 90);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  width: 20rem;
}

.second_text {
  margin-bottom: 2.5rem;
}

 /*This will be the end of phase 1*/

.container_phase_2 {
  margin-right: 1.5rem;
}

.break_point_main {
  display: flex;
  flex-direction: column;
}

.break_point {
  display: flex;
  flex-direction: row;
}

/* This is the third section of phase 2, this is divided into the amount of cards we have on the bento grid*/
.third_section {
  background-color: rgb(134, 15, 231);
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 1rem;
  text-align: center;
  justify-items: center;
  margin-bottom: 1.5rem;
  width: 45.5rem;
}

.third_section_image {
  width: 10rem;
  margin-top: 0.5rem;
}

.third_text {
  font-weight:600;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 5rem;
  color: white;
  width: 40rem;
}

.color_change {
  color: rgb(247, 205, 90);
}

.third_section_italic {
  font-style: italic;
}

.third_text_1 {
  color: rgb(215, 178, 245);
  margin-top: 0.5rem;
}

/* This is the fourth section of phase 2, this is divided into the amount of cards we have on the bento grid*/
.category_1 {
  display: flex;
  flex-direction: row;
}

.fourth_section {
  background-color: rgb(255, 255, 255);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  margin-right: 1.5rem;
  width: 20rem;
  overflow: hidden;
}

.fourth_section_image {
  width: 30rem;
  align-items: right;
}

.fourth_text {
  font-weight:600;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  text-align: left;
  margin-top: 1rem;
  width: 20rem;
}

/* This is the fifth section of phase 2, this is divided into the amount of cards we have on the bento grid*/
.fifth_section {
  background-color: rgb(247, 205, 90);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  height: 20.5rem;
  width: 20rem;
  overflow: hidden;
}

.fifth_text {
  font-weight:600;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  text-align: left;
  width: 15rem;
}

.fifth_section_image {
  width: 20rem;
}

/* This is the sixth section of phase 2, this is divided into the amount of cards we have on the bento grid*/
.container_phase_3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 214, 250);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  width: 25rem;
  overflow: clip;
}

.sixth_text {
  font-weight:600;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  text-align: left;
  margin-top: 1rem;
}

.sixth_section_image {
  width: 30rem;
}

.sixth_text_body {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
  text-align: left;
  margin-top: 2rem;
}

/*This section is phase 4*/
.phase_4_category_1 {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

/*This is the seventh section*/
.seventh_section {
  background-color: rgb(255, 255, 255);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  text-align: left;
  justify-content: center;
  margin-right: 1.5rem;
}

.seventh_text {
  font-size: 5rem ;
  margin-bottom: 1rem;
  font-weight: 600;
}

.seventh_body_text {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.seventh_section_image {
  width: 20rem;
}

/*This is the eight section*/
.phase_4_category_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  background-color: rgb(134, 15, 231);
  border-radius: 1rem;
  width: 50.5rem;
}

.eight_section_image {
  width: 20rem;
}

.eight_section_text {
  font-weight:600;
  font-size: 3rem;
  color: white;
}



